body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background : url('image/Sains8.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height : 100vh;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    margin-right: 10px;
    font-weight: bold;
}
#logout-btn {
    display: block;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #555;
}

#edit-profile-btn {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: #27ae60;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#edit-profile-btn:hover {
    background-color: #219452;
}